<div class="jumbotron">
  <h1 class="display-4">Oi, esse é meu primeiro Site</h1>
  <p class="lead">Estou fazendo vários testes para ver se o bootstrap funciona</p>
  <hr class="my-4">
  <p>Espero que sim</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Aprenda mais</a>
  </p>
</div>