<div class="jumbotron">
  <h1 class="display-4">Hamburgueria Mundo Feliz</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Comprar</a>
  </p>
</div>